/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}
body {
  padding-top: 50px;
}
footer {
  padding: 30px 0;
}

.container{
  height:auto;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

/*-------navbar -----------*/

#navbar{
	font-size: 14px !important;
	}
	
.navbar-brand{
	}

/*-----jumbotron box -------*/

.titleBox{
	opacity: 0.5;
	text-align: center;
	}
	
.titleBox h1{
	color: #337AB7 !important;
	font-weight: bolder;
	}
	
.titleBox ul li{
	font-size: 16px !important;
	list-style-type: none;
	margin-top: -5px;
	padding-top: 10px;
	font-weight: bold;
	}
	
.spacing{
	margin-left: 80px !important;	
	}
	
/*-------sidebar -----------*/
#sidebar{
		font-size: 16px !important;
	}
	
#sidebar .list-group-item:hover{
	 
	}
	
.list-group p{
		font-weight: bold;	
	}
	

.decoration{
	color: #337AB7 !important;
	text-transform: uppercase;
	}
	
/*--------content design-----------*/

.box{
border-radius: 5px;
background-color: #222222;	
padding: 30px;
padding-left: 40px !important;
margin-bottom: 20px;
color: white;
	}

.height1{
  height:370px !important;
  background-color:#374140 !important;
}

.height2{
  height: 570px !important;
   background-color:#374140 !important;
  padding-top:30px;
}
	
.page{
background-color:#F5F6F6 !important;
padding: 60px 0;
position:relative;
z-index:100;
}


.page-alternate{
background-color:#ffffff;
padding: 60px 0px 80px 0px;
position: relative;
z-index: 100;
}	

.page-alternate2{
padding: 5px 0 !important;
}

.icon{
width:300px;
height:300px;
border-radius:50%;
background-color:#FF8C53;
margin-left: 17%;
}

.icon .iconText{
color: white;
margin: 20px;
text-align: center;	
padding-top: 10px !important;
	}

.sectionTitle{
text-align: center;	
	}

.photo{
background-color: #FF8C53;
color: white;
border-radius:5px;
width: 200px;
height: 200px;	
	}

.feedTable,
#commTable{
	width:800px !important;
  border-collapse: collapse;
	}

.feedTable tbody{
  overflow-y:scroll; 
  height:300px !important;
}

.feedTable .header th, tr, td{
  border:1px solid white;
}
#commTable .header th, tr, td{
  border:1px solid white;
}

.feedTable .header .th td, 
.feedTable tr td,
#commTable .header .th td,
#commTable tr td{
   padding-left:3px;
   padding-right:3px;
}

.feedTable tr td:nth-child(even),
#commTable tr td:nth-child(even){
		background: #42403F;
	}

.feedTable .header th{
	}
/*scrolable*/

table.scroll {
    /* width: 100%; */ /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    border: 2px solid black;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /* text-align: left; */
}

table.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody { border-top: 2px solid black; }

tbody td, thead th {
    /* width: 20%; */ /* Optional */
    border-right: 1px solid black;
    /* white-space: nowrap; */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}

/*--------footer--------------*/
footer{
	font-weight: bold;
	margin-top: 40px !important;	
	}

footer span{
	font-size: 18px !important;
	}

/*---------VIEW ---------------*/

.list-group button{
  width:195px !important;
}

.list-group .timeSelect{
  width:195px !important;
}

#submitButton,
#loadData,
#resetButton{
  width:100px !important;
  background-color:#337AB7;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:white;
  font-weight:bold;
  padding-top:5px;
  padding-bottom:5px;
}

#loadData,
#resetButton{
  padding-top:10px !important;
  padding-bottom:10px !important;
  margin-top: 0px !important;
}

#resetButton{
  margin-left: 60px !important;
}

/*

.list-group button{
 
   border: 1px soid lightgrey;
   border-top:none;
}

.list-group button:hover{
 
}

.list-group button:active{
 
  border: 1px solid blue;
}

.list-group button.active{

  font-weight:bold;
}
*/

/*In your stylesheet*/
.activeItem{
   background-color:#999; /*make some difference for the active item here */
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}



